<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/imgs/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Harris Blog</title>
</head>

<body class="max-w-full" style="overscroll-behavior-y: none">
    <div id="MainContainer" class="flex flex-col max-w-full h-fit">
        <div id="pageOne" class="flex flex-col max-w-full transition" style="height:calc(100vh)">
            <canvas class="absolute" id="canvas"></canvas>

            <div name="middleArea" class="absolute flex flex-row w-full h-full justify-center items-center">
                <div id="nameDiv"
                    class="md:relative md:mb-0 md:mr-0 md:items-end mb-40 flex flex-col w-full h-fit justify-center items-center lg:text-5xl sm:text-xl right-10 transition">
                    <p class="font-bold">Harris</p>
                    <p class="font-bold">Lichstein</p>
                </div>
                <div id="iconsDiv" class="absolute w-full h-full flex flow-row justify-center items-center">
                    <a href="https://discordapp.com/users/1057115976895832075"
                        class="hover:scale-110 transition rounded-full bg-zinc-100 md:m-2 m-1 md:h-16 md:w-16 w-8 h-8 flex items-center justify-center py-2 px-2 drop-shadow-lg">
                        <i class="fa-brands fa-discord lg:text-4xl sm:text-xl"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCbZu-VhhmtU_DqxMRMz9Ktg"
                        class="hover:scale-110 transition rounded-full bg-zinc-100 md:m-2 m-1 md:h-16 md:w-16 w-8 h-8 flex items-center justify-center py-2 px-2 drop-shadow-lg">
                        <i class="fa-brands fa-youtube lg:text-4xl sm:text-xl"></i>
                    </a>
                    <a href="https://twitter.com/HarrisLich"
                        class="hover:scale-110 transition rounded-full bg-zinc-100 md:m-2 m-1 md:h-16 md:w-16 w-8 h-8 flex items-center justify-center py-2 px-2 drop-shadow-lg">
                        <i class="fa-brands fa-twitter lg:text-4xl sm:text-xl"></i>
                    </a>
                    <a href="https://github.com/HarrisLich"
                        class="hover:scale-110 transition rounded-full bg-zinc-100 md:m-2 m-1 md:h-16 md:w-16 w-8 h-8 flex items-center justify-center py-2 px-2 drop-shadow-lg">
                        <i class="fa-brands fa-github lg:text-4xl sm:text-xl"></i>
                    </a>
                    <a href="mailto:harris.lichstein@gmail.com"
                        class="hover:scale-110 transition rounded-full bg-zinc-100 md:m-2 m-1 md:h-16 md:w-16 w-8 h-8 flex items-center justify-center py-2 px-2 drop-shadow-lg">
                        <i class="fa-brands fa-google lg:text-4xl sm:text-xl"></i>
                    </a>
                </div>
            </div>
            <div class="relative w-full h-fit flex">
                <div class="w-fit h-fit items-start justify-end flex m-2">
                    <div class="relative w-full h-fit items-start justify-start">
                        <div id="checkboxDiv" class="items-start justify-start flex w-full h-full">
                            <label class="relative inline-flex items-center cursor-pointer">
                                <input checked id="checkboxInput" type="checkbox" value="" class="sr-only peer">
                                <div
                                    class="w-11 h-6 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-zinc-200">
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="w-full h-fit items-start justify-end flex">
                    <%- include('./partials/__navbar') %>
                </div>

            </div>
            <div class="flex w-full h-full justify-center items-end mb-2">
                <i id="arrow" class="fa-solid fa-arrow-down text-4xl animate-bounce"></i>
            </div>
        </div>
        <%- include("./partials/indexPageTwo") %>
            <%- include("./partials/__footer") %>
    </div>

    <script src="/js/home.js"></script>
</body>

</html>