<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>New Article</title>
</head>
<body class="max-w-full h-full flex justify-center items-center" style="height:calc(100vh)">
    <div class="h-1/2 bg-white drop-shadow-lg w-3/4 bg-zinc-200 flex rounded">
        <form action="/articles/new" method="POST" class="w-full h-full">
            <%- include("./partials/__form_fields") %>
        </form>
    </div>
</body>
</html>