<div id="footerBackground" class="h-16 bg-pink-100 flex flex-col items-start justify-center">
    <div id="footerStripe" class="items-center justify-start h-8 bg-pink-200 flex flex-row w-full text-zinc-400">
        <div class="ml-4 flex w-full flex-row justify-start items-center">
            <label for="" class="w-fit flex flex-row text-[9px] md:text-base">Created By
                <h1 class="font-bold text-zinc-400 ml-4 text-[9px] md:text-base">Harris Lichstein</h1>
            </label>
            
        </div>
        <div class="w-full items-center justify-end flex">
            <a href="mailto:harris.lichstein@gmail.com" class="mr-4 text-[9px] md:text-base">Contact Me</a>
        </div>
    </div>
</div>